<nav class="main-menu">
    <ul>
        <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Apresentação</a></li>
        <li><a href="/formacao" class="<%= currentPage === 'formacao' ? 'active' : '' %>">Formação</a></li>
        <li><a href="/projetos" class="<%= currentPage === 'projetos' ? 'active' : '' %>">Projetos</a></li>
        <li><a href="/competencias" class="<%= currentPage === 'competencias' ? 'active' : '' %>">Competências</a></li>
        <li><a href="/experiencias" class="<%= currentPage === 'experiencias' ? 'active': '' %>">Experiência</a></li>
        <li><a href="/recados" class="<%= currentPage === 'recados' ? 'active' : '' %>">Recados</a></li>
    </ul>
</nav>